.workshop__container
  padding: 3em 0
  margin: 0
  background-color: $main-text-color_inverted
  .inner
    margin: 0 auto
    max-width: 1200px
  h2
    text-align: center
    font-style: normal
    color: $main-color
  .tabs ul
    text-align: left
  .tabs li
    font-size: 1.5em
    font-weight: 600
    padding: 20px
    margin: 10px
    display: inline-block
    background-color: $main-text-color_hue-light
    border: 1px solid $main-color
    &.is-active
      background-color: $main-color
      &:hover > a, &:active > a, &:focus > a
        padding: 1em 0
    &.is-active a
      color: $main-text-color_inverted
    a:hover, a:active, a:focus
      text-decoration: none
      color: $main-text-color
    &:hover, &:active, &:focus
      text-decoration: none
      color: $main-color
      background-color: $main-text-color_inverted
  .columns
    display: none
    margin-top: 1em
    margin-bottom: 0
  .columns:first-child
    display: flex
  .card-content
    padding: 20px
    text-align: left
    .card-image
      width: 100px
      height: 100px
      border-radius: 50px
      overflow: hidden
    .title
      color: $main-color
      font-weight: 600
      padding: 1em 0
    .subtitle
      font-size: .9em
      font-style: italic
  .has-border
    display: inline-block
    border: 8px solid $main-color_hue-medium
    padding: 1em
    text-align: left
  .row-info
    color: $main-text-color
    display: flex
    flex-direction: row
    align-items: center
    text-transform: uppercase
  .info-icon
    margin-top: 6px
  .info-icon.padded
    padding: 0 0 0 30px
  svg
    height: 30PX
    width: auto
  h5
    text-transform: none
    font-weight: 600
    color: $main-color
  p
    font-size: .9em
  .row__more
    padding-top: 2em
  .button.is-primary
    background-color: $main-color
    font-weight: 700
    padding-left: 2em
    padding-right: 2em
    margin-right: 1em
    &:hover, &:active, &:focus
      color: $main-color
      border-color: $main-color
      background-color: $main-text-color_inverted