section(id="newsletter").section_nopadding
  .newsletter__container
    .inner
      h2.title-is-2 Stay in the loop!
      p
        strong Subscribe to our newsletter
      p [AS] qui inseriamo un embed di Mailchimp
