section(id="newsletter").section_nopadding
  .newsletter__container
    .inner
      h2(role="heading" aria-level="2").title-is-2 !{site.data.defaults.conference.newsletter_title}
      p
        strong !{site.data.defaults.conference.newsletter_subtitle}
      p [AS] qui inseriamo un embed di Mailchimp
