section(id="newsletter")
  .newsletter__container
    .inner
      h2.title-is-2 Stay in the loop!
      p
        strong Subscribe to our newsletter
      p [AS] qui è previsto di mettere la form di iscrizione in-line; prima di farla decidiamo *dove* farla, così sappiamo come includerla qui. Evito di farne una fasulla ;)
