section(id="location")
  .location__container
    .inner
      .row-info
        .info-icon
          include ../../../source/assets/ico/ico-where.svg
        .info__location !{site.data.defaults.conference.city}
      h2.title.is-2 !{site.data.defaults.conference.location_name}
      p
        strong !{site.data.defaults.conference.location_address}
      button.button.is-medium.is-rounded.is-primary GET DIRECTIONS
