.location__container
  flex-direction: row
  width: 100vw
  background-image: url("../img/venue.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  position: relative
  padding: 3em 0
  margin: 0
  +tablet
    background-image: url("../img/tablet_venue.jpg")
  +desktop
    background-image: url("../img/desktop_venue.jpg")
  +widescreen
    background-image: url("../img/widescreen_venue.jpg")
  +fullhd
    background-image: url("../img/venue.jpg")
  +tablet-vertical
    background-image: url("../img/tablet_vertical_venue.jpg")
  +medium-phone
    background-image: url("../img/mobile_medium_venue.jpg")
  +small-phone
    background-image: url("../img/mobile_small_venue.jpg")

.location__container .inner
  align-items: center
  margin: 0 auto
  
.location__container *
  color: $main-text-color_inverted

.location__container h2
  font-style: normal

.location__container .row-info
  color: $main-text-color_inverted

.location__container .row-info
  display: flex
  flex-direction: row
  align-items: center
  text-transform: uppercase

.location__container .info-icon
  margin-top: 6px

.location__container .info-icon.padded
  padding: 0 0 0 30px

.location__container svg
  height: 30px
  width: auto

.location__container svg path
  fill: $main-text-color_inverted

.info__location
  padding: 0 30px 0 10px

.location__container .button.is-primary
  background-color: $main-color
  font-weight: 700
  padding-left: 2em
  padding-right: 2em
  margin-top: 2em
  &:hover, &:active, &:focus
    color: $main-color
    background-color: $main-text-color_inverted
