//- Colori principali
$main-color: #fc372a
$main-color_hue-medium: #f5a590
$main-color_hue-light: #f9c5b7

$main-text-color: #000
$main-text-color_hue-medium: rgba(0, 0, 0, .4)
$main-text-color_hue-medium_low: rgba(0, 0, 0, .3)
$main-text-color_hue-light: rgba(0, 0, 0, .2)
$main-text-color_hue-lighter: rgba(0, 0, 0, .1)
$main-text-color_inverted: #fff

//- Font

$body-family: 'Montserrat', sans-serif, -apple-system
