section(id="generalinfo")
  .geninfo__container
    .columns.inner
      .column.geninfo-info
        .row-info
          h2(role="heading" aria-level="1").title.is-2 What is it?
          p !{site.data.defaults.geninfo_description}
        .row__social
          p You can follow !{site.data.defaults.conference_title} on
          a(href="https://www.facebook.com/RubyDayIT/" target="_blank")
            .social-icon
              include ../../../source/ico/ico-social-facebook.svg
          a(href="https://twitter.com/rubydayIT" target="_blank")
            .social-icon
              include ../../../source/ico/ico-social-twitter.svg
          a(href="https://vimeo.com/grusp" target="_blank")
            .social-icon
              include ../../../source/ico/ico-social-vimeo.svg
          a(href="https://www.youtube.com/channel/UCdWnwC8nz_CCFQrmLBrLCVw" target="_blank")
            .social-icon
              include ../../../source/ico/ico-social-youtube.svg
      .column.geninfo-buttons
        .geninfo-buttons__button-container
          a(href="about")
            .geninfo-buttons__button
              include ../../../source/ico/ico-about.svg
          a(href="about") ABOUT
        .geninfo-buttons__button-container
          a(href="welcome/coc")
            .geninfo-buttons__button
              include ../../../source/ico/ico-coc.svg
          a(href="welcome/coc") CODE OF CONDUCT
        .geninfo-buttons__button-container
          a(href="welcome/scholarships")
            .geninfo-buttons__button
              include ../../../source/ico/ico-scholarship.svg
          a(href="welcome/scholarships") SCHOLARSHIPS
        .geninfo-buttons__button-container
          a(href="#")
            .geninfo-buttons__button
              include ../../../source/ico/ico-ticket.svg
          a(href="#") BUY TICKETS
