extends includes/layout.pug

block content
  include components/hero/hero.pug
  //- comment this line to make CFP section disappear!
  include components/cfp/cfp.pug
  include components/generalinfo/generalinfo.pug
  //- comment this line to make speakers section disappear!
  include components/speakers/speakers.pug
  include components/workshop/workshop.pug
  include components/media/media.pug