section(id="cfp")
  .cfp__container
    .columns.inner
      .column
        h1(role="heading" aria-level="2").title.is-1 Call For Papers Now Open!
        .row-info
          span Submissions accepted until !{site.data.defaults.cfp_deadline}
          button.button.is-medium.is-rounded.is-primary REGISTER NOW