 
.cfp__container
  background-color: $main-color
  color: $main-text-color_inverted

.cfp__container .inner
  margin: 0 auto
  align-items: center
  text-align: center
  padding: 1em 0

.cfp__container .inner .row-info
  display: inline-flex
  align-items: center

.cfp__container .inner span
  margin-right: 1em

.cfp__container .inner button.is-primary
  background-color: $main-text-color_inverted
  color: $main-color
.cfp__container .inner button.is-primary:hover, .cfp__container .inner button.is-primary:active, .cfp__container .inner button.is-primary:focus
  background-color: $main-color
  color: $main-text-color_inverted
  border-color: $main-text-color_inverted
